{erl_opts,           [debug_info]}.

{eunit_compile_opts, [{src_dirs, ["src", "test"]}]}.

{provider_hooks,     [{pre, [{compile, {lfe, compile}}]}]}.

{deps,
 [{lfe,    {git, "git://github.com/rvirding/lfe",     {tag,    "0.10.1"}}},
  {ltest,  {git, "git://github.com/lfex/ltest",       {tag,    "0.7.0"}}},
  {proper, {git, "git://github.com/manopapad/proper", {branch, "master"}}}]}.

{plugins,
 [{'lfe-compile',
   {git, "git://github.com/lfe-rebar3/compile.git",
    {tag, "0.2.1"}}}]}.
